<section class ="py-2">
<div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
            Graphics Card Store
        </h1> <p class="lead">Shop for graphic cards</p>
        <!DOCTYPE html>
<html>
  <form action="/charge" method="POST">
    <script
      src = "https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="{{stripePublishableKey}}"
      data-amount="2500"
      data-name="Graphics Card Store"
      data-description="Graphics card for sale"
      data-image=""
      data-locale="auto">
      </script>
      </form>
  </body>
</html>
    </div>
    <div class ="col-md-6">
        <img src ="" alt="">
    </div>
</div>
</section>